* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #282a36;
  color: #f8f8f2;
}

h1 {
  text-align: center;
  border: none;
  background-color: #44475a;
  height: 40px;
  padding: 20px;
}

img {
  width: 400px;
  border: 2px solid black;
  margin: 20px;
}

body > section {
  margin: 10px 100px;
  padding: 0px 50px;
}

body > p {
  margin: 10px 100px;
  padding: 20px 50px;
  text-align: center;
}

hr {
    margin: 0px 150px;
    padding: 0px 100px;
}

section > button {
    padding: 5px 15px;
    border: none;
    background-color: #6272a4;
    color: white;
    border-radius: 10px;
}

button:hover {
    padding: 5px 15px;
    border: none;
    background-color: #bd93f9;
    color: white;
    border-radius: 10px;
}

section > p {
    text-align: auto;
    margin: 15px auto;
}

section > img {
    float: left;
}

section > h2 {
    color: #8be9fd;
}

section > h4 {
    color: #f1fa8c;
}

h3 {
    padding: 20px 30px;
    background-color: #44475a;
    color: white;
    margin: 0;
}

h3 > a {
    padding: 5px 10px;
    border: none;
    background-color: #6272a4;
    color: white;
    border-radius: 10px;
    float: right;
}

a:hover {
    background-color: #bd93f9;
}

hr {
    padding: auto;
}
